name: Build
on:
  schedule:
    - cron: "21 2 * * 2"

  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  run-shellcheck:
    name: Validate entrypoint.sh
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.6

      - name: install shellcheck
        run: |
          sudo apt-get update
          sudo apt-get install -y shellcheck

      - run: shellcheck entrypoint.sh

  run-tests:
    strategy:
      matrix:
        scheme:
          - http
          - https
        port:
          - 4443
          - 5001

    name: Test the action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.6

      - uses: ./
        with:
          data: testdata
          public-host: "storage.gcs.127.0.0.1.nip.io:${{ matrix.port }}"
          external-url: "${{ matrix.scheme }}://storage.gcs.127.0.0.1.nip.io:${{ matrix.port }}"
          scheme: ${{ matrix.scheme }}
          port: ${{ matrix.port }}
          debug: 1

      - name: list buckets and objects with curl
        shell: bash
        run: |
          echo "List of buckets:"
          curl --silent --fail --insecure ${FAKE_GCS_SERVER_SCHEME}://storage.gcs.127.0.0.1.nip.io:${{ matrix.port }}/storage/v1/b
          echo "Files in the bucket:"
          curl --silent --fail --insecure ${FAKE_GCS_SERVER_SCHEME}://storage.gcs.127.0.0.1.nip.io:${{ matrix.port }}/storage/v1/b/some-bucket/o
        env:
          FAKE_GCS_SERVER_SCHEME: ${{ matrix.scheme }}
